.category-layout {
  position: absolute;
  width: 7.2rem;
  height: 100%;
  padding: 1rem 0;
}
.category-layout .header {
  position: fixed;
  height: 1rem;
  width: 7.2rem;
  left: 0;
  top: 0;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 1rem;
  font-size: .3rem;
  color: #666;
  z-index: 999;
}
.category-layout .header .i-turn {
  height: 1rem;
  padding-left: .3rem;
}
.category-layout .header .i-turn i {
  font-size: .4rem;
}
.category-layout .header .i-search {
  height: 1rem;
  margin-right: .4rem;
}
.category-layout .header .i-search i {
  font-size: .4rem;
}
.category-layout .content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.category-layout .content .left-nav {
  position: fixed;
  width: 1.5rem;
  border-right: 1px solid #ccc;
  overflow: hidden;
  left: 0;
  top: 1rem;
  z-index: 9999;
}
.category-layout .content .left-nav > ul {
  position: absolute;
  background-color: #fefefe;
  top: 0;
}
.category-layout .content .left-nav > ul li a {
  display: block;
  width: 1.5rem;
  height: .9rem;
  text-align: center;
  line-height: .9rem;
  font-size: .26rem;
  color: #333;
  transition: all .3s;
}
.category-layout .content .left-nav > ul li.active a {
  font-size: .34rem;
  color: #fb7d34;
}
.category-layout .content .right-content {
  position: absolute;
  left: 1.52rem;
  right: 0;
  top: 49px;
  bottom: 52px;
  padding: 2px .32rem 6rem;
  overflow: auto;
}
.category-layout .content .right-content .title-text {
  text-align: center;
  line-height: 1.2rem;
}
.category-layout .content .right-content .title-text span {
  padding: 0 .2rem;
  position: relative;
  font-size: .28rem;
}
.category-layout .content .right-content .title-text span::before,
.category-layout .content .right-content .title-text span::after {
  content: "";
  position: absolute;
  width: .4rem;
  height: 1px;
  background-color: #ccc;
  top: 50%;
}
.category-layout .content .right-content .title-text span::before {
  left: -0.4rem;
}
.category-layout .content .right-content .title-text span::after {
  right: -0.4rem;
}
.category-layout .content .right-content .content-details {
  width: 100%;
}
.category-layout .content .right-content .content-details > ul {
  display: flex;
  flex-wrap: wrap;
}
.category-layout .content .right-content .content-details > ul li {
  padding: .2rem .1rem 0;
  width: 33.3%;
}
.category-layout .content .right-content .content-details > ul li a {
  display: block;
  text-align: center;
}
.category-layout .content .right-content .content-details > ul li a img {
  width: 50%;
}
.category-layout .content .right-content .content-details > ul li a p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .18rem;
  line-height: .6rem;
}
