.user-layout {
  width: 7.2rem;
}
.user-layout .header {
  width: 7.2rem;
  height: 1.6rem;
  padding: .32rem;
  background: #f37d0f url(../images/bg-user.png);
  background-size: auto 100%;
}
.user-layout .header .via {
  width: .96rem;
  height: .96rem;
}
.user-layout .header .via a {
  height: .96rem;
}
.user-layout .header .via a img {
  width: 100%;
}
